div
    h3 Welcome to Backbone/Knockout Boilerplate

    input(
        type='text'
        data-bind='value: message'
    )

    button(data-bind='click: save') Save

    h3(data-bind='text: message')
    
